<div id="searchResults">

  <h2>Search Results</h2>

  <p>Listing results for <span>Rag n Bone Man</span></p>

  <!-- For each -->
  <div class="searchResult">

    <img class="searchResultImage" src="img/testArt.jpg" />

    <h3>Rag n Bone Man<br /> <span>Human</span></h3>

    <div class="addTrack addSearchedTrack">

      <img src="img/add.png" alt="add track" />

    </div>

    <div class="addTrack playSearchedTrack">

      <img src="img/play.png" alt="play track" />

    </div>

  </div>

</div>

<!--  <h3><%= display_name %></h3> <!-- Spotify Display Name -->
<!-- <h4>Playlists - <span><%= playlists.length %></span> Songs - <span><%= tracks.length %></span></h4>--> -->
