<div id="searchResults">
  <div class="searchResults">
    <h2>Search Results</h2>
    <% artists.forEach(function(artists) {
      <div = class="searchResultArtist">
        <img class="searchResultImage" src="artists.images.url" />
        <h3>Artist</h3>
        <div class="addArtist addSearchedArtist">
          <img src="artists.images.url" alt="add artist" />
        </div>
        <div class="addArtist playSearchedArtist">
          <img src="img/play.png" alt="play tracks" />
        </div>
      </div>
    }); %>

    <% tracks.forEach(function(tracks) {
      <div = class="searchResultTracks">
        <img class="searchResultImage" src="tracks.images.url" />
        <h3>Artist</h3>
        <div class="addArtist addSearchedArtist">
          <img src="tracks.images.url" alt="add track" />
        </div>
        <div class="addTrack playSearchedTrack">
          <img src="img/play.png" alt="play tracks" />
        </div>
      </div>
    }); %>
  </div>
</div>
